.btn:hover{
    color: white!important;
}

.nav-link:hover
{
    color: #a6c!important;
}

.navbar-brand
{
    color: #a6c!important;
    font-family: 'Calistoga', cursive;
    font-size: 25px;
    margin-left: -9rem!important;
}

.logb
{
    margin-right: -8rem!important;
}

.navbar{
    font-family: 'Calistoga', cursive;
}

.bcklog
{
    background-color: #a6c!important;
}

.regco:hover
{
    color: #a6c!important;
}

#main-footer
{
	background: #212121;
	color: #fff;
	text-align: center;
    padding-bottom: 5px;
    padding-top: 18px;
    font-family: 'Calistoga', cursive;
	margin-top: 40px;
}

footer {
 position: relative;
 bottom: 0;
 width: 100%;
}

footer#main-footer
{
    margin-top: 0;
}

.background-image
{
    width: 100%;
    height: 650px;
    margin-bottom: 0px;
}

.tite-page-open
{
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a6c;
    font-family: 'Play', sans-serif;
    font-size: 55px;
  }

  .centered2 {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a6c;
    font-family: 'Play', sans-serif;
    font-size: 40px;
  }

  .centered3 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a6c;
    font-family: 'Play', sans-serif;
  }

  .jumbotron
  {
      margin-bottom: 0;
      background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
  }

  .heading-1
  {
    color: #a6c;
    font-family: 'Play', sans-serif;
    margin-top: -2rem;
    font-size: 45px;
    position:relative;
    text-align: center;
  }
  .heading-1:before {
    content: "";
    display: block;
    border-top: solid 2px #a6c;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    z-index: 0;
  }
  .heading-1 span {
    background: #212121;
    padding: 0 10px;
    position: relative;
    z-index: 1;
  }

  .welcome-p
  {
      margin-top: 30px;
      font-size: 17px;
      padding-left: 80px;
      padding-right: 80px;
  }
  
  .song-more
  {
      width: 115px!important;
      height: 40px!important;
      margin: 0!important;
      margin-top: -8px!important;
      padding: 2px!important;
  }

.table-dark
{
    background: #212121;
}

.table-striped
{
    margin-bottom: 0px;
}


body {
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}

.outtable
{
    margin: 20px 80px;
}

.songdescrip
{
    font-family: 'Play', sans-serif;
    color: #212121;
    font-size: 17px;
}

.blackHov:hover
{
    color: #a6c!important;
    background-color: #000!important;
}

.blackHov
{
    color: #fff!important;
    background-color: #000!important;
}

#all-others
{
    display: none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.card {
    margin: 0 auto!important; /* Added */
    float: none!important; /* Added */
    margin-bottom: 10px!important; /* Added */
}

.search-btn
{
    color: #a6c;
    background: #212121;
}

.search-btn:hover
{
    color: white;
}

.regsub
{
    background: #a6c!important;
}

.closesub:hover
{
    color: #212121!important;
}

.output
{
    color: #a6c;
    font-family: 'Calistoga', cursive;
    margin-bottom: -10px!important;
    margin-top: 10px!important;
}

#result2
{
    color: red!important;
}

.user-info
{
    color: #a6c;
    margin-bottom: 0;
    padding-top: 15px;
    font-size: 20px;
}


#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="number"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #212121;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="number"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #a6c;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #8639ac;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.bt
{
    color: #a6c;
}

#add-song-form
{
    margin-top: 10px!important;
}

#contact
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.res-text
{
  color: red;
  font-size: 15px!important;
  font: "Roboto", Helvetica, Arial, sans-serif;
}

#artist-missing
{
  display: none;
}

#title-missing
{
  display: none;
}

#username-missing
{
  display: none;
}

#rating-wrong
{
  display: none;
}

#activate-reg
{
  display: none;
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.fw
{
  width: 50%;
  margin: 0 auto;
}

#result5
{
    color: red!important;
}

.psp
{
  width: 70%;
  margin: 0 auto;
}

.s27
{
  color: #a6c;
}

select {
  background-color: #a6c;
  }